
#bkg-project{
 height: 110vh;
 width: 100%;
 background-color: #FBBd08;
 
}

.ui-grid{
  width: 100%;
  height: 100%;
  padding: 0rem;
  margin-left: 0px;
}

.ui-items{
  height: 100%;
}

.grid-column{
  margin-left: auto;
  margin-right: auto;
}

.grid-row{
  height: 50%;
  margin-top: 2rem;
}

.image{
  margin-bottom: .75rem;
}

.description{
  text-align: left;
  font-size: 1rem;
}

.tech-p{
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.button-container{
  margin-top: 2rem;
}

.project-btn{
  width: 9rem;
}

.code-span{
  padding-left: .5rem;
}

.item{
  
}

@media only screen and (max-width: 376px) {
    #bkg-project{
        height: 110vh;
    }
  }

@media only screen and (max-width: 500px) {
    #bkg-project{
        height: auto;
    }
  }

  @media only screen and (max-width: 1000px) and (min-width: 501px) {
    #bkg-project{
        height: 130vh;
    }
  
    
  }


  @media only screen and (min-width: 1000px) {
    
    #bkg-project{
        height: 120vh;
    }
  }